<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>You've been PIGLATINIZED!</h1>
    <br>

    <p> <%= @piglatinizer.piglatinize(@user_phrase)%> </p> 

    
  
  </body>
</html>